.ForWhoBox {
  // Create an animated gradient effect with #38ef7d and #11998e colors that goes in a 45 degree angle
  // background: linear-gradient(45deg, #38ef7d, #11998e);
  background-size: 300% 300%;
  background-image: linear-gradient(
    45deg,
    #e23e57 0%,
    #0ef4b3 25%,
    #e23e57 51%,
    #38ef7d 100%
  );
  animation: AnimateBG 20s ease infinite;

  // box-shadow: 0 0 10px 0 #38ef7d;
  border-radius: 10px;
  padding: 10px;

  &:hover {
    // Have a  minimal glow effect of the card with #e23e57 color
    box-shadow: 0 0 10px 0 #11998e;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
