.ForWhoBox {
  background: #e23e57; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e23e57,
    #cb2d3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e23e57,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // Have a  minimal glow effect of the card with #e23e57 color
  box-shadow: 0 0 10px 0 #e23e57;

  border-radius: 10px;
  padding: 10px;
}
